body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.block{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 30%;
    }

ol {
    background-color: #ED9EAE;        
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    list-style-position: inside;

}
main .block .zag{
 margin: 10px;      
}

ol li {
    background-color: #C66376;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
ol li a{
    background-color: #9E354A;
    color: #ffffff;
    padding: 5px;
    text-decoration-line: none;
}
